.cart {
  background: #ffffff;
  padding-bottom: 16rem;
  h2 {
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 4.2rem;
    margin-left: 11.2rem;
    padding-top: 4.8rem;
  }
  hr {
    width: 90%;
    border: 1px solid #dedddc;
    margin: auto;
  }
  table {
    margin-left: 7.4rem;
    padding-top: 7.1rem;
    width: 90%;
    text-align: center;

    thead {
      background: #d9d9d9;
      height: 5rem;
      tr {
        th {
          font-family: Inter;
          font-weight: 400;
          font-size: 2rem;
          color: #000000;
        }
        .cart_action {
          padding-left: 14rem;
        }
      }
    }
    tbody {
      tr {
        .td_image {
          img {
            width: 6rem;
          }
        }
        .td_quantity {
          display: flex;
          justify-content: center;
          padding-top: 2rem;
          input {
            background: #d9d9d9;
            width: 7.9rem;
            border: none;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            color: #000000;
          }
          .up,
          .down {
            text-transform: uppercase;
            border: none;
            width: 3.9rem;
            height: 3rem;
            background: #6200ee;
            color: #ffffff;
            font-family: Roboto;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.125rem;
            box-shadow: 0rem 0.8rem 1rem rgba(0, 0, 0, 0.14),
              0rem 0.3rem 1.4rem rgba(0, 0, 0, 0.12),
              0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
            border-radius: 0.4rem;
          }
          .up {
            margin-right: 1rem;
          }
          .down {
            margin-left: 1rem;
          }
        }
        .td_action {
          display: flex;
          align-items: center;
          justify-content: right;
          .action_edit {
            text-transform: uppercase;
            width: 10rem;
            border: none;
            margin-left: 2.1rem;
            padding: 0.6rem 0.6rem 0.6rem 0.8rem;
            background: #6200ee;
            color: #ffffff;
            font-family: Roboto;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.125rem;
            box-shadow: 0rem 0.8rem 1rem rgba(0, 0, 0, 0.14),
              0rem 0.3rem 1.4rem rgba(0, 0, 0, 0.12),
              0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
            border-radius: 0.4rem;
            cursor: pointer;
          }
          .action_delete {
            text-transform: uppercase;
            width: 10rem;
            border: none;
            margin-left: 2.1rem;
            padding: 0.6rem 0.6rem 0.6rem 0.8rem;
            background: #eb5757;
            color: #ffffff;
            font-family: Roboto;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.125rem;
            box-shadow: 0rem 0.8rem 1rem rgba(0, 0, 0, 0.14),
              0rem 0.3rem 1.4rem rgba(0, 0, 0, 0.12),
              0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
            border-radius: 0.4rem;
            cursor: pointer;
          }
        }
      }
    }
  }
  .submit {
    float: right;
    margin-top: 4rem;
    margin-right: 6rem;
    text-transform: uppercase;
    border: none;
    background: #f2994a;
    width: 15rem;
    height: 3rem;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.125rem;
    box-shadow: 0rem 0.8rem 1rem rgba(0, 0, 0, 0.14),
      0rem 0.3rem 1.4rem rgba(0, 0, 0, 0.12),
      0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    cursor: pointer;
  }
}
