.title {
  font-size: 4rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 4.4rem;
  line-height: 4.8rem;
  padding: 1.2rem 0 1.4rem 2.9rem;
  width: 68rem;
  height: 7rem;
  width: 70rem;
  background: linear-gradient(180deg, #f21299 0%, #1b02b5 100%);
}
.list_product {
  display: flex;
  gap: 3.5rem 6.7rem;
  padding: 3.5rem 0 10.4rem 9.9rem;

  flex-wrap: wrap; // cho xuống hàng khi hết chỗ trên màn hình
}
