.product_detail_title {
  font-weight: 400;
  font-size: 4rem;
  color: #000000;
  text-align: center;
}
.list_product {
  display: flex;
  gap: 3.5rem 6.7rem;
  padding: 3.5rem 0 10.4rem 9.9rem;

  flex-wrap: wrap;
}